<style>

     h1 {
         color:blueviolet;
        }
        body {
            background-color: rgb(81, 62, 194);.
        }.
     .topnav {
        background-color: rgba(117, 81, 214, 0.562);
        overflow: auto;
      }
      .topnav a {
        float: center;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .topnav a:hover {
        background-color: rgb(211, 35, 196);
        color: black;
      }
      .topnav a.active {
        background-color: #4CAF50;
        color: white;
      }
      .self {
          display: block;
          height: auto;
          margin-top: 0px;
          margin-left: -250px;
          margin-right: auto;
          transform: scale(0.5);
      }
   </style>